<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleShowAllFiles</key>
	<false/>
	<key>BrowserWindowRestoreAttempted</key>
	<false/>
	<key>BrowserWindowState</key>
	<array/>
	<key>ComputerViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ShowPathbar</key>
			<false/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowToolbar</key>
			<true/>
			<key>SidebarWidth</key>
			<integer>207</integer>
			<key>WindowBounds</key>
			<string>{{431, 237}, {1151, 699}}</string>
		</dict>
	</dict>
	<key>CopyProgressWindowLocation</key>
	<string>760, 299</string>
	<key>DesktopViewSettings</key>
	<dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1.0</real>
			<key>backgroundColorGreen</key>
			<real>1.0</real>
			<key>backgroundColorRed</key>
			<real>1.0</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<integer>0</integer>
			<key>gridOffsetY</key>
			<integer>0</integer>
			<key>gridSpacing</key>
			<integer>54</integer>
			<key>iconSize</key>
			<integer>64</integer>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<integer>12</integer>
			<key>viewOptionsVersion</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>EmptyTrashProgressWindowLocation</key>
	<string>760, 299</string>
	<key>FXInfoPanesExpanded</key>
	<dict>
		<key>MetaData</key>
		<true/>
		<key>Privileges</key>
		<true/>
	</dict>
	<key>FXPreferredViewStyle</key>
	<string>Nlsv</string>
	<key>FlowViewHeight</key>
	<string>612</string>
	<key>NSToolbar Configuration Browser</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>0</integer>
		<key>TB Item Identifiers</key>
		<array>
			<string>com.apple.finder.BACK</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>com.apple.finder.SWCH</string>
			<string>NSToolbarSpaceItem</string>
			<string>com.apple.finder.QUIK</string>
			<string>com.apple.finder.ACTN</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>com.apple.finder.SRCH</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
		<key>TB Visibility Priority Values</key>
		<dict/>
	</dict>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>768 787 384 129 0 0 1920 1178 </string>
	<key>NetworkViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ShowPathbar</key>
			<false/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowToolbar</key>
			<true/>
			<key>SidebarWidth</key>
			<integer>136</integer>
			<key>WindowBounds</key>
			<string>{{249, 156}, {975, 887}}</string>
		</dict>
	</dict>
	<key>PackageViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ShowPathbar</key>
			<false/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowToolbar</key>
			<true/>
			<key>SidebarWidth</key>
			<integer>192</integer>
			<key>WindowBounds</key>
			<string>{{-1202, 462}, {979, 424}}</string>
		</dict>
	</dict>
	<key>ShowHardDrivesOnDesktop</key>
	<false/>
	<key>ShowSidebar</key>
	<true/>
	<key>SidebarDevicesSectionDisclosedState</key>
	<true/>
	<key>SidebarPlacesSectionDisclosedState</key>
	<true/>
	<key>SidebarSharedSectionDisclosedState</key>
	<true/>
	<key>StandardViewSettings</key>
	<dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1.0</real>
			<key>backgroundColorGreen</key>
			<real>1.0</real>
			<key>backgroundColorRed</key>
			<real>1.0</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<integer>0</integer>
			<key>gridOffsetY</key>
			<integer>0</integer>
			<key>gridSpacing</key>
			<integer>54</integer>
			<key>iconSize</key>
			<integer>64</integer>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<integer>12</integer>
			<key>viewOptionsVersion</key>
			<integer>0</integer>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>12</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>0</integer>
		</dict>
		<key>SettingsType</key>
		<string>StandardViewSettings</string>
	</dict>
	<key>TotalFinderActAsExpired</key>
	<false/>
	<key>TotalFinderActAsFinal</key>
	<false/>
	<key>TotalFinderAlphaReminderShown</key>
	<true/>
	<key>TotalFinderAlwaysMaximize</key>
	<false/>
	<key>TotalFinderAnimationSpeed</key>
	<real>0.300000011920929</real>
	<key>TotalFinderAsepsisEnabled</key>
	<true/>
	<key>TotalFinderDisableNetworkStores</key>
	<true/>
	<key>TotalFinderDontCustomizeDockIcon</key>
	<false/>
	<key>TotalFinderDontMakeTabs</key>
	<false/>
	<key>TotalFinderFoldersOnTop</key>
	<true/>
	<key>TotalFinderHideOnEscape</key>
	<false/>
	<key>TotalFinderHotKey2</key>
	<dict>
		<key>DoubleModifier</key>
		<true/>
		<key>KeyCode</key>
		<integer>0</integer>
		<key>Modifiers</key>
		<integer>524288</integer>
	</dict>
	<key>TotalFinderHotKey2Enabled</key>
	<false/>
	<key>TotalFinderNarrowTabsBar</key>
	<false/>
	<key>TotalFinderOnEverySpace</key>
	<true/>
	<key>TotalFinderPosition</key>
	<string>Bottom-Stretch</string>
	<key>TotalFinderSavedVisorHeight</key>
	<integer>622</integer>
	<key>TotalFinderSavedWindowMaximized</key>
	<false/>
	<key>TotalFinderSavedWindowPosBottom</key>
	<integer>1050</integer>
	<key>TotalFinderSavedWindowPosLeft</key>
	<integer>598</integer>
	<key>TotalFinderSavedWindowPosRight</key>
	<integer>1573</integer>
	<key>TotalFinderSavedWindowPosTop</key>
	<integer>127</integer>
	<key>TotalFinderScreen</key>
	<integer>0</integer>
	<key>TotalFinderShortcuts</key>
	<dict>
		<key>DualMode</key>
		<dict>
			<key>KeyCode</key>
			<integer>32</integer>
			<key>Modifiers</key>
			<integer>1048576</integer>
		</dict>
		<key>FoldersOnTop</key>
		<dict>
			<key>KeyCode</key>
			<integer>41</integer>
			<key>Modifiers</key>
			<integer>1179648</integer>
		</dict>
		<key>NarrowTabsBar</key>
		<dict>
			<key>KeyCode</key>
			<integer>11</integer>
			<key>Modifiers</key>
			<integer>1179648</integer>
		</dict>
		<key>PinVisor</key>
		<dict>
			<key>KeyCode</key>
			<integer>35</integer>
			<key>Modifiers</key>
			<integer>1179648</integer>
		</dict>
		<key>ShowSystemFiles</key>
		<dict>
			<key>KeyCode</key>
			<integer>47</integer>
			<key>Modifiers</key>
			<integer>1179648</integer>
		</dict>
		<key>ToggleVisor</key>
		<dict>
			<key>KeyCode</key>
			<integer>50</integer>
			<key>Modifiers</key>
			<integer>524288</integer>
		</dict>
	</dict>
	<key>TotalFinderShowOnReopen</key>
	<true/>
	<key>TotalFinderShowStatusItem</key>
	<true/>
	<key>TotalFinderState</key>
	<dict>
		<key>Browsers</key>
		<array>
			<dict>
				<key>SelectedTab</key>
				<integer>1</integer>
				<key>Tabs</key>
				<dict>
					<key>Contents</key>
					<array>
						<dict>
							<key>Finder1</key>
							<dict>
								<key>BrowserViewState</key>
								<dict>
									<key>ListViewScrollOrigin</key>
									<string>{0, 0}</string>
								</dict>
								<key>ShowPathbar</key>
								<false/>
								<key>ShowSidebar</key>
								<true/>
								<key>ShowStatusBar</key>
								<true/>
								<key>ShowToolbar</key>
								<true/>
								<key>SidebarWidth</key>
								<integer>136</integer>
								<key>TargetPath</key>
								<array>
									<string>file://localhost/Users/darwin/</string>
								</array>
								<key>TargetURL</key>
								<string>file://localhost/Users/darwin/</string>
								<key>ViewStyle</key>
								<string>List</string>
								<key>WindowBounds</key>
								<string>{{598, 150}, {975, 887}}</string>
							</dict>
							<key>Mode</key>
							<string>Single</string>
						</dict>
						<dict>
							<key>Finder1</key>
							<dict>
								<key>BrowserViewState</key>
								<dict>
									<key>ListViewScrollOrigin</key>
									<string>{0, 2027}</string>
								</dict>
								<key>ShowPathbar</key>
								<false/>
								<key>ShowSidebar</key>
								<true/>
								<key>ShowStatusBar</key>
								<true/>
								<key>ShowToolbar</key>
								<true/>
								<key>SidebarWidth</key>
								<integer>136</integer>
								<key>TargetPath</key>
								<array>
									<string>file://localhost/Applications/</string>
								</array>
								<key>TargetURL</key>
								<string>file://localhost/Applications/</string>
								<key>ViewStyle</key>
								<string>List</string>
								<key>WindowBounds</key>
								<string>{{598, 150}, {975, 887}}</string>
							</dict>
							<key>Mode</key>
							<string>Single</string>
						</dict>
					</array>
				</dict>
				<key>Type</key>
				<string>Window</string>
				<key>Window</key>
				<dict>
					<key>Height</key>
					<integer>923</integer>
					<key>Width</key>
					<integer>975</integer>
					<key>X</key>
					<integer>598</integer>
					<key>Y</key>
					<integer>150</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>TotalFinderUpdateChannel</key>
	<integer>1</integer>
	<key>TotalFinderUseFade</key>
	<true/>
	<key>TotalFinderUseSlide</key>
	<true/>
	<key>TotalFinderVisorEnabled</key>
	<false/>
	<key>TotalFinderVisorFreeForm</key>
	<false/>
	<key>TotalFinderVisorOnDockLevel</key>
	<false/>
	<key>TotalFinderWorkAreaBottom</key>
	<integer>1196</integer>
	<key>TotalFinderWorkAreaLeft</key>
	<integer>0</integer>
	<key>TotalFinderWorkAreaRight</key>
	<integer>1920</integer>
	<key>TotalFinderWorkAreaTop</key>
	<integer>22</integer>
	<key>TrashViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ShowPathbar</key>
			<false/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowToolbar</key>
			<true/>
			<key>SidebarWidth</key>
			<integer>204</integer>
			<key>WindowBounds</key>
			<string>{{183, 134}, {1261, 801}}</string>
		</dict>
	</dict>
</dict>
</plist>
