<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleShowAllFiles</key>
	<false/>
	<key>BrowserWindowRestoreAttempted</key>
	<false/>
	<key>BrowserWindowState</key>
	<array/>
	<key>ComputerViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ShowPathbar</key>
			<false/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowToolbar</key>
			<true/>
			<key>SidebarWidth</key>
			<integer>207</integer>
			<key>WindowBounds</key>
			<string>{{431, 237}, {1151, 699}}</string>
		</dict>
	</dict>
	<key>CopyProgressWindowLocation</key>
	<string>760, 299</string>
	<key>DesktopViewSettings</key>
	<dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<integer>0</integer>
			<key>gridOffsetY</key>
			<integer>0</integer>
			<key>gridSpacing</key>
			<integer>54</integer>
			<key>iconSize</key>
			<integer>64</integer>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<integer>12</integer>
			<key>viewOptionsVersion</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>EmptyTrashProgressWindowLocation</key>
	<string>760, 299</string>
	<key>FXDesktopVolumePositions</key>
	<dict>
		<key>/Volumes/IPOD</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>-98</integer>
		</dict>
		<key>Firefox_0x1.dca125ep+27</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>189</integer>
			<key>yRelative</key>
			<integer>-208</integer>
		</dict>
		<key>Google Chrome 6.0.490.1-6.0.495.0 Dev Update_0x1.217a70fp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-889</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>Google Chrome 6.0.495.0-7.0.503.0 Dev Update_0x1.222c7ebp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>62</integer>
		</dict>
		<key>Google Chrome_0x1.2022132p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>2</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-63</integer>
			<key>yRelative</key>
			<integer>-368</integer>
		</dict>
		<key>Google Chrome_0x1.20970d5p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>307</integer>
			<key>yRelative</key>
			<integer>122</integer>
		</dict>
		<key>Google Chrome_0x1.20b9b0bp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>2</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-653</integer>
			<key>yRelative</key>
			<integer>-258</integer>
		</dict>
		<key>Google Chrome_0x1.213911ep+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>189</integer>
			<key>yRelative</key>
			<integer>-208</integer>
		</dict>
		<key>GoogleAppEngineLauncher-1.3.6.866_0x1.21998d3p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-889</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>OpenOffice.org 3.2_0x1.1a55002p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>71</integer>
			<key>yRelative</key>
			<integer>232</integer>
		</dict>
		<key>Packages_0x1.1a08ecep+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>3</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>-258</integer>
		</dict>
		<key>Quick Search Box_0x1.204c197p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>2</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-63</integer>
			<key>yRelative</key>
			<integer>-368</integer>
		</dict>
		<key>Quick Search Box_0x1.2075c9dp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>2</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-63</integer>
			<key>yRelative</key>
			<integer>-258</integer>
		</dict>
		<key>Quick Search Box_0x1.222f396p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>62</integer>
		</dict>
		<key>Sequel Pro 0.9.8.1_0x1.2061c65p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>2</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-653</integer>
			<key>yRelative</key>
			<integer>-258</integer>
		</dict>
		<key>TotalFinder_0x1.0cb49a6p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>TotalFinder_0x1.0cf3aa9p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>282</integer>
		</dict>
		<key>TotalFinder_0x1.0db33cp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>-208</integer>
		</dict>
		<key>TotalFinder_0x1.0faf251p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>-98</integer>
		</dict>
		<key>TotalFinder_0x1.0fdc07dp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>-98</integer>
		</dict>
		<key>TotalFinder_0x1.0fde023p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>12</integer>
		</dict>
		<key>TotalFinder_0x1.0fde4p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>122</integer>
		</dict>
		<key>TotalFinder_0x1.0fef085p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>232</integer>
		</dict>
		<key>TotalFinder_0x1.105173cp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>3</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>-258</integer>
		</dict>
		<key>TotalFinder_0x1.105a65p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>3</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>-148</integer>
		</dict>
		<key>TotalFinder_0x1.10d37c9p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>282</integer>
		</dict>
		<key>TotalFinder_0x1.116c5fcp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>-208</integer>
		</dict>
		<key>TotalFinder_0x1.11839e1p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>TotalFinder_0x1.1196917p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>12</integer>
		</dict>
		<key>TotalFinder_0x1.122c32fp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>122</integer>
		</dict>
		<key>TotalFinder_0x1.1428f7ep+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>282</integer>
		</dict>
		<key>TotalFinder_0x1.149577ep+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>232</integer>
		</dict>
		<key>TotalFinder_0x1.1692708p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-63</integer>
			<key>yRelative</key>
			<integer>62</integer>
		</dict>
		<key>TotalFinder_0x1.1693bf9p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>TotalFinder_0x1.185f9d6p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>TotalFinder_0x1.1bd560fp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>TotalFinder_0x1.1c8a77dp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>TotalFinder_0x1.1fd5b05p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>TotalFinder_0x1.202987dp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>2</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-63</integer>
			<key>yRelative</key>
			<integer>-368</integer>
		</dict>
		<key>TotalFinder_0x1.2029e35p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>2</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-63</integer>
			<key>yRelative</key>
			<integer>-258</integer>
		</dict>
		<key>TotalFinder_0x1.202a682p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>2</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-63</integer>
			<key>yRelative</key>
			<integer>-368</integer>
		</dict>
		<key>TotalFinder_0x1.202b121p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>2</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-63</integer>
			<key>yRelative</key>
			<integer>-148</integer>
		</dict>
		<key>TotalFinder_0x1.2150e0fp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-889</integer>
			<key>yRelative</key>
			<integer>62</integer>
		</dict>
		<key>TotalFinder_0x1.2150f9ap+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-889</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>TotalFinder_0x1.2151259p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-889</integer>
			<key>yRelative</key>
			<integer>282</integer>
		</dict>
		<key>TotalFinder_0x1.215139cp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>71</integer>
			<key>yRelative</key>
			<integer>-208</integer>
		</dict>
		<key>TotalFinder_0x1.21a40e8p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>3</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>-258</integer>
		</dict>
		<key>TotalFinder_0x1.22b32p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>TotalFinder_0x1.22b4258p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>TotalFinder_0x1.22ce15fp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>-98</integer>
		</dict>
		<key>TotalFinder_0x1.22cece6p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>-98</integer>
		</dict>
		<key>TotalFinder_0x1.22cf084p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>-98</integer>
		</dict>
		<key>TotalFinder_0x1.22cf17ep+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>12</integer>
		</dict>
		<key>TotalFinder_0x1.22cf335p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>122</integer>
		</dict>
		<key>TotalFinder_0x1.22cf61dp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>-98</integer>
		</dict>
		<key>TotalFinder_0x1.22d7bb9p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>12</integer>
		</dict>
		<key>TotalFinder_0x1.22d89cap+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>0</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-47</integer>
			<key>yRelative</key>
			<integer>-98</integer>
		</dict>
		<key>TotalFinder_0x1.22d8a53p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>3</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>-258</integer>
		</dict>
		<key>WayBack2_0x1.165d2d1p+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-63</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
		<key>Xcode and iOS SDK_0x1.1f979dap+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>1</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>-63</integer>
			<key>yRelative</key>
			<integer>62</integer>
		</dict>
		<key>boxee-0.9.22_0x1.2217a8bp+28</key>
		<dict>
			<key>AnchorRelativeTo</key>
			<integer>4</integer>
			<key>ScreenID</key>
			<integer>0</integer>
			<key>xRelative</key>
			<integer>913</integer>
			<key>yRelative</key>
			<integer>172</integer>
		</dict>
	</dict>
	<key>FXInfoPanesExpanded</key>
	<dict>
		<key>MetaData</key>
		<true/>
		<key>Privileges</key>
		<true/>
	</dict>
	<key>FXPreferencesWindow.Location</key>
	<string>0, 4, 355, 452</string>
	<key>FXPreferredViewStyle</key>
	<string>Nlsv</string>
	<key>FXRecentFolders</key>
	<array>
		<dict>
			<key>file-data</key>
			<dict>
				<key>_CFURLAliasData</key>
				<data>
				AAAAAAEaAAIAAQVNYWNobwAAAAAAAAAAAAAAAAAAAAAA
				AAAAAADFsVjISCsAAAAAAAIMQXBwbGljYXRpb25zAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAClatcYb6uoAAAAAAAAAAP//
				//8AAAkgAAAAAAAAAAAAAAAAAAAABU1hY2hvAAAQAAgA
				AMWxSrgAAAARAAgAAMYbzsoAAAABAAAAAgASTWFjaG86
				QXBwbGljYXRpb25zAA4AGgAMAEEAcABwAGwAaQBjAGEA
				dABpAG8AbgBzAA8ADAAFAE0AYQBjAGgAbwASAAxBcHBs
				aWNhdGlvbnMAEwABLwD//wAA
				</data>
			</dict>
			<key>name</key>
			<string>Applications</string>
		</dict>
		<dict>
			<key>file-data</key>
			<dict>
				<key>_CFURLAliasData</key>
				<data>
				AAAAAAEYAAIAAQVNYWNobwAAAAAAAAAAAAAAAAAAAAAA
				AAAAAADFsVjISCsAAAAAfFMGZGFyd2luAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAqD0cax7Z0AAAAAAAAAAP//
				//8AAAkgAAAAAAAAAAAAAAAAAAAABVVzZXJzAAAQAAgA
				AMWxSrgAAAARAAgAAMax0X0AAAABAAQAAHxTAAIAEk1h
				Y2hvOlVzZXJzOmRhcndpbgAOAA4ABgBkAGEAcgB3AGkA
				bgAPAAwABQBNAGEAYwBoAG8AEgAMVXNlcnMvZGFyd2lu
				ABMAAS8AABUAAgAN//8AAA==
				</data>
			</dict>
			<key>name</key>
			<string>darwin</string>
		</dict>
		<dict>
			<key>file-data</key>
			<dict>
				<key>_CFURLAliasData</key>
				<data>
				AAAAAAK8AAIAAQtUb3RhbEZpbmRlcgAAAAAAAAAAAAAA
				AAAAAADIox9zSCsABQAAAAELVG90YWxGaW5kZXIAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAsijH3MAAAAAAAAAAP//
				//8AAA0CAAAAAAAAAAAAAAAAAAAAC1RvdGFsRmluZGVy
				AAAQAAgAAMijA1MAAAARAAgAAMijA1MAAAABAAAAAgAX
				VG90YWxGaW5kZXI6VG90YWxGaW5kZXIAAA4AGAALAFQA
				bwB0AGEAbABGAGkAbgBkAGUAcgAPABgACwBUAG8AdABh
				AGwARgBpAG4AZABlAHIAEgAAABMAFC9Wb2x1bWVzL1Rv
				dGFsRmluZGVyABQBggAAAAABggACAAAFTWFjaG8AAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAxbFYyEgrAAAACoPrFVRv
				dGFsRmluZGVyLTAuOS45LmRtZwAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAY8SFfI
				ozvhAAAAAAAAAAD/////AAAJIAAAAAAAAAAAAAAAAAAA
				AAlEb3dubG9hZHMAABAACAAAxbFKuAAAABEACAAAyKMf
				wQAAAAEADAAKg+sACoPRAAB8UwACADJNYWNobzpVc2Vy
				czpkYXJ3aW46RG93bmxvYWRzOlRvdGFsRmluZGVyLTAu
				OS45LmRtZwAOACwAFQBUAG8AdABhAGwARgBpAG4AZABl
				AHIALQAwAC4AOQAuADkALgBkAG0AZwAPAAwABQBNAGEA
				YwBoAG8AEgAsVXNlcnMvZGFyd2luL0Rvd25sb2Fkcy9U
				b3RhbEZpbmRlci0wLjkuOS5kbWcAEwABLwAAFQACAA3/
				/wAA//8AAA==
				</data>
			</dict>
			<key>name</key>
			<string>TotalFinder</string>
		</dict>
		<dict>
			<key>file-data</key>
			<dict>
				<key>_CFURLAliasData</key>
				<data>
				AAAAAAOeAAIAAQVTdG9yZQAAAAAAAAAAAAAAAAAAAAAA
				AAAAAADGfbrwSCsAAQAAAAILVG90YWxGaW5kZXIAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAADDpMfxLbUAAAAAAAAAAP//
				//8AABERYXMAAAAAAAAAAAAAAAAABVN0b3JlAAAQAAgA
				AMZ9ntAAAAARAAgAAMfxEZUAAAABAAAAAgARU3RvcmU6
				VG90YWxGaW5kZXIAAA4AGAALAFQAbwB0AGEAbABGAGkA
				bgBkAGUAcgAPAAwABQBTAHQAbwByAGUAEgAML1RvdGFs
				RmluZGVyABMADi9Wb2x1bWVzL1N0b3JlAAkCdgJ2YWZw
				bQCABAQAAQAmAEYAagAAAOoBLgAhATcBVwAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF
				V2hhbGUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAFU3RvcmUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAh4EV2hhbGUuX2FmcG92ZXJ0Y3AuX3Rj
				cC5sb2NhbAgCwKgBAgIkAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP//
				AAA=
				</data>
			</dict>
			<key>name</key>
			<string>TotalFinder</string>
		</dict>
		<dict>
			<key>file-data</key>
			<dict>
				<key>_CFURLAliasData</key>
				<data>
				AAAAAAN+AAIAAQZCYWNrdXAAAAAAAAAAAAAAAAAAAAAA
				AAAAAADGfIcISCsAAQAAAAEGQmFja3VwAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAsZ8hwgAAAAAAAAAAP//
				//8AABERYXMAAAAAAAAAAAAAABAACAAAxnxq6AAAABEA
				CAAAxnxq6AAAAAEAAAACAA1CYWNrdXA6QmFja3VwAAAO
				AA4ABgBCAGEAYwBrAHUAcAAPAA4ABgBCAGEAYwBrAHUA
				cAASAAAAEwAPL1ZvbHVtZXMvQmFja3VwAAAJAnYCdmFm
				cG0AgAQEAAEAJgBGAGoAAADqAS4AIQE3AVcAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				BVdoYWxlAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAABkJhY2t1cAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAIeBFdoYWxlLl9hZnBvdmVydGNwLl90
				Y3AubG9jYWwIAsCoAQICJAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/
				/wAA
				</data>
			</dict>
			<key>name</key>
			<string>Backup</string>
		</dict>
		<dict>
			<key>file-data</key>
			<dict>
				<key>_CFURLAliasData</key>
				<data>
				AAAAAAE2AAIAAQVNYWNobwAAAAAAAAAAAAAAAAAAAAAA
				AAAAAADFsVjISCsAAAAKg9EJRG93bmxvYWRzAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAqD68QXYhUAAAAAAAAAAP//
				//8AAAkgAAAAAAAAAAAAAAAAAAAABmRhcndpbgAQAAgA
				AMWxSrgAAAARAAgAAMQXRfUAAAABAAgACoPRAAB8UwAC
				ABxNYWNobzpVc2VyczpkYXJ3aW46RG93bmxvYWRzAA4A
				FAAJAEQAbwB3AG4AbABvAGEAZABzAA8ADAAFAE0AYQBj
				AGgAbwASABZVc2Vycy9kYXJ3aW4vRG93bmxvYWRzABMA
				AS8AABUAAgAN//8AAA==
				</data>
			</dict>
			<key>name</key>
			<string>Downloads</string>
		</dict>
		<dict>
			<key>file-data</key>
			<dict>
				<key>_CFURLAliasData</key>
				<data>
				AAAAAAOYAAIAAQZCYWNrdXAAAAAAAAAAAAAAAAAAAAAA
				AAAAAADGfIcISCsAAQAAAAIIUGVlcENvZGUAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAABSJ8bKUdIAAAAAAAAAAP//
				//8AABERYXMAAAAAAAAAAAAAAAAABkJhY2t1cAAQAAgA
				AMZ8augAAAARAAgAAMbKNbIAAAABAAAAAgAPQmFja3Vw
				OlBlZXBDb2RlAAAOABIACABQAGUAZQBwAEMAbwBkAGUA
				DwAOAAYAQgBhAGMAawB1AHAAEgAJL1BlZXBDb2RlAAAT
				AA8vVm9sdW1lcy9CYWNrdXAAAAkCdgJ2YWZwbQCABAQA
				AQAmAEYAagAAAOoBLgAhATcBVwAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFV2hhbGUA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGQmFj
				a3VwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAh4EV2hhbGUuX2FmcG92ZXJ0Y3AuX3RjcC5sb2Nh
				bAgCwKgBAgIkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP//AAA=
				</data>
			</dict>
			<key>name</key>
			<string>PeepCode</string>
		</dict>
		<dict>
			<key>file-data</key>
			<dict>
				<key>_CFURLAliasData</key>
				<data>
				AAAAAAN2AAIAAQVTdG9yZQAAAAAAAAAAAAAAAAAAAAAA
				AAAAAADGfbrwSCsAAQAAAAEFU3RvcmUAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAsZ9uvAAAAAAAAAAAP//
				//8AABERYXMAAAAAAAAAAAAAABAACAAAxn2e0AAAABEA
				CAAAxn2e0AAAAAEAAAACAAtTdG9yZTpTdG9yZQAADgAM
				AAUAUwB0AG8AcgBlAA8ADAAFAFMAdABvAHIAZQASAAAA
				EwAOL1ZvbHVtZXMvU3RvcmUACQJ2AnZhZnBtAIAEBAAB
				ACYARgBqAAAA6gEuACEBNwFXAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVXaGFsZQAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVTdG9y
				ZQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAACHgRXaGFsZS5fYWZwb3ZlcnRjcC5fdGNwLmxvY2Fs
				CALAqAECAiQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//8AAA==
				</data>
			</dict>
			<key>name</key>
			<string>Store</string>
		</dict>
		<dict>
			<key>file-data</key>
			<dict>
				<key>_CFURLAliasData</key>
				<data>
				AAAAAAOKAAIAAQVTdG9yZQAAAAAAAAAAAAAAAAAAAAAA
				AAAAAADGfbrwSCsAAQAAAAIGTW92aWVzAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAE/8Z9vPAAAAAAAAAAAP//
				//8AABERYXMAAAAAAAAAAAAAAAAABVN0b3JlAAAQAAgA
				AMZ9ntAAAAARAAgAAMZ9oNAAAAABAAAAAgAMU3RvcmU6
				TW92aWVzAA4ADgAGAE0AbwB2AGkAZQBzAA8ADAAFAFMA
				dABvAHIAZQASAAcvTW92aWVzAAATAA4vVm9sdW1lcy9T
				dG9yZQAJAnYCdmFmcG0AgAQEAAEAJgBGAGoAAADqAS4A
				IQE3AVcAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAABVdoYWxlAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAABVN0b3JlAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIeBFdoYWxlLl9h
				ZnBvdmVydGNwLl90Y3AubG9jYWwIAsCoAQICJAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAD//wAA
				</data>
			</dict>
			<key>name</key>
			<string>Movies</string>
		</dict>
	</array>
	<key>FlowViewHeight</key>
	<string>612</string>
	<key>NSToolbar Configuration Browser</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<integer>0</integer>
		<key>TB Item Identifiers</key>
		<array>
			<string>com.apple.finder.BACK</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>com.apple.finder.SWCH</string>
			<string>NSToolbarSpaceItem</string>
			<string>com.apple.finder.QUIK</string>
			<string>com.apple.finder.ACTN</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>NSToolbarFlexibleSpaceItem</string>
			<string>com.apple.finder.SRCH</string>
		</array>
		<key>TB Size Mode</key>
		<integer>1</integer>
		<key>TB Visibility Priority Values</key>
		<dict/>
	</dict>
	<key>NSWindow Frame SUStatusFrame</key>
	<string>768 787 384 129 0 0 1920 1178 </string>
	<key>NetworkViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ShowPathbar</key>
			<false/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowToolbar</key>
			<true/>
			<key>SidebarWidth</key>
			<integer>136</integer>
			<key>WindowBounds</key>
			<string>{{249, 156}, {975, 887}}</string>
		</dict>
	</dict>
	<key>PackageViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ShowPathbar</key>
			<false/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowToolbar</key>
			<true/>
			<key>SidebarWidth</key>
			<integer>192</integer>
			<key>WindowBounds</key>
			<string>{{-1202, 462}, {979, 424}}</string>
		</dict>
	</dict>
	<key>PreferencesWindow.LastSelection</key>
	<string>1196315212</string>
	<key>ShowHardDrivesOnDesktop</key>
	<false/>
	<key>ShowSidebar</key>
	<true/>
	<key>SidebarDevicesSectionDisclosedState</key>
	<true/>
	<key>SidebarPlacesSectionDisclosedState</key>
	<true/>
	<key>SidebarSharedSectionDisclosedState</key>
	<true/>
	<key>StandardViewSettings</key>
	<dict>
		<key>IconViewSettings</key>
		<dict>
			<key>arrangeBy</key>
			<string>none</string>
			<key>backgroundColorBlue</key>
			<real>1</real>
			<key>backgroundColorGreen</key>
			<real>1</real>
			<key>backgroundColorRed</key>
			<real>1</real>
			<key>backgroundType</key>
			<integer>0</integer>
			<key>gridOffsetX</key>
			<integer>0</integer>
			<key>gridOffsetY</key>
			<integer>0</integer>
			<key>gridSpacing</key>
			<integer>54</integer>
			<key>iconSize</key>
			<integer>64</integer>
			<key>labelOnBottom</key>
			<true/>
			<key>showIconPreview</key>
			<true/>
			<key>showItemInfo</key>
			<false/>
			<key>textSize</key>
			<integer>12</integer>
			<key>viewOptionsVersion</key>
			<integer>0</integer>
		</dict>
		<key>ListViewSettings</key>
		<dict>
			<key>calculateAllSizes</key>
			<false/>
			<key>columns</key>
			<dict>
				<key>comments</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>7</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>dateCreated</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>2</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>dateLastOpened</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>8</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>200</integer>
				</dict>
				<key>dateModified</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>1</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>181</integer>
				</dict>
				<key>kind</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>4</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>115</integer>
				</dict>
				<key>label</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>5</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>100</integer>
				</dict>
				<key>name</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>0</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>300</integer>
				</dict>
				<key>size</key>
				<dict>
					<key>ascending</key>
					<false/>
					<key>index</key>
					<integer>3</integer>
					<key>visible</key>
					<true/>
					<key>width</key>
					<integer>97</integer>
				</dict>
				<key>version</key>
				<dict>
					<key>ascending</key>
					<true/>
					<key>index</key>
					<integer>6</integer>
					<key>visible</key>
					<false/>
					<key>width</key>
					<integer>75</integer>
				</dict>
			</dict>
			<key>iconSize</key>
			<integer>16</integer>
			<key>showIconPreview</key>
			<true/>
			<key>sortColumn</key>
			<string>name</string>
			<key>textSize</key>
			<integer>12</integer>
			<key>useRelativeDates</key>
			<true/>
			<key>viewOptionsVersion</key>
			<integer>0</integer>
		</dict>
		<key>SettingsType</key>
		<string>StandardViewSettings</string>
	</dict>
	<key>TotalFinderActAsExpired</key>
	<false/>
	<key>TotalFinderActAsFinal</key>
	<false/>
	<key>TotalFinderAlphaReminderShown</key>
	<true/>
	<key>TotalFinderAlwaysMaximize</key>
	<false/>
	<key>TotalFinderAnimationSpeed</key>
	<real>0.30000001192092896</real>
	<key>TotalFinderAsepsisEnabled</key>
	<true/>
	<key>TotalFinderDisableNetworkStores</key>
	<true/>
	<key>TotalFinderDontCustomizeDockIcon</key>
	<false/>
	<key>TotalFinderDontMakeTabs</key>
	<false/>
	<key>TotalFinderFoldersOnTop</key>
	<true/>
	<key>TotalFinderHideOnEscape</key>
	<false/>
	<key>TotalFinderHotKey2</key>
	<dict>
		<key>DoubleModifier</key>
		<true/>
		<key>KeyCode</key>
		<integer>0</integer>
		<key>Modifiers</key>
		<integer>524288</integer>
	</dict>
	<key>TotalFinderHotKey2Enabled</key>
	<false/>
	<key>TotalFinderNarrowTabsBar</key>
	<false/>
	<key>TotalFinderOnEverySpace</key>
	<true/>
	<key>TotalFinderPosition</key>
	<string>Bottom-Stretch</string>
	<key>TotalFinderSavedVisorHeight</key>
	<integer>622</integer>
	<key>TotalFinderSavedWindowMaximized</key>
	<false/>
	<key>TotalFinderSavedWindowPosBottom</key>
	<integer>1050</integer>
	<key>TotalFinderSavedWindowPosLeft</key>
	<integer>598</integer>
	<key>TotalFinderSavedWindowPosRight</key>
	<integer>1573</integer>
	<key>TotalFinderSavedWindowPosTop</key>
	<integer>127</integer>
	<key>TotalFinderScreen</key>
	<integer>0</integer>
	<key>TotalFinderShortcuts</key>
	<dict>
		<key>DualMode</key>
		<dict>
			<key>KeyCode</key>
			<integer>32</integer>
			<key>Modifiers</key>
			<integer>1048576</integer>
		</dict>
		<key>FoldersOnTop</key>
		<dict>
			<key>KeyCode</key>
			<integer>41</integer>
			<key>Modifiers</key>
			<integer>1179648</integer>
		</dict>
		<key>NarrowTabsBar</key>
		<dict>
			<key>KeyCode</key>
			<integer>11</integer>
			<key>Modifiers</key>
			<integer>1179648</integer>
		</dict>
		<key>PinVisor</key>
		<dict>
			<key>KeyCode</key>
			<integer>35</integer>
			<key>Modifiers</key>
			<integer>1179648</integer>
		</dict>
		<key>ShowSystemFiles</key>
		<dict>
			<key>KeyCode</key>
			<integer>47</integer>
			<key>Modifiers</key>
			<integer>1179648</integer>
		</dict>
		<key>ToggleVisor</key>
		<dict>
			<key>KeyCode</key>
			<integer>50</integer>
			<key>Modifiers</key>
			<integer>524288</integer>
		</dict>
	</dict>
	<key>TotalFinderShowOnReopen</key>
	<true/>
	<key>TotalFinderShowStatusItem</key>
	<true/>
	<key>TotalFinderState</key>
	<dict>
		<key>Browsers</key>
		<array>
			<dict>
				<key>SelectedTab</key>
				<integer>1</integer>
				<key>Tabs</key>
				<dict>
					<key>Contents</key>
					<array>
						<dict>
							<key>Finder1</key>
							<dict>
								<key>BrowserViewState</key>
								<dict>
									<key>ListViewScrollOrigin</key>
									<string>{0, 0}</string>
								</dict>
								<key>ShowPathbar</key>
								<false/>
								<key>ShowSidebar</key>
								<true/>
								<key>ShowStatusBar</key>
								<true/>
								<key>ShowToolbar</key>
								<true/>
								<key>SidebarWidth</key>
								<integer>136</integer>
								<key>TargetPath</key>
								<array>
									<string>file://localhost/Users/darwin/</string>
								</array>
								<key>TargetURL</key>
								<string>file://localhost/Users/darwin/</string>
								<key>ViewStyle</key>
								<string>List</string>
								<key>WindowBounds</key>
								<string>{{598, 150}, {975, 887}}</string>
							</dict>
							<key>Mode</key>
							<string>Single</string>
						</dict>
						<dict>
							<key>Finder1</key>
							<dict>
								<key>BrowserViewState</key>
								<dict>
									<key>ListViewScrollOrigin</key>
									<string>{0, 2027}</string>
								</dict>
								<key>ShowPathbar</key>
								<false/>
								<key>ShowSidebar</key>
								<true/>
								<key>ShowStatusBar</key>
								<true/>
								<key>ShowToolbar</key>
								<true/>
								<key>SidebarWidth</key>
								<integer>136</integer>
								<key>TargetPath</key>
								<array>
									<string>file://localhost/Applications/</string>
								</array>
								<key>TargetURL</key>
								<string>file://localhost/Applications/</string>
								<key>ViewStyle</key>
								<string>List</string>
								<key>WindowBounds</key>
								<string>{{598, 150}, {975, 887}}</string>
							</dict>
							<key>Mode</key>
							<string>Single</string>
						</dict>
					</array>
				</dict>
				<key>Type</key>
				<string>Window</string>
				<key>Window</key>
				<dict>
					<key>Height</key>
					<integer>923</integer>
					<key>Width</key>
					<integer>975</integer>
					<key>X</key>
					<integer>598</integer>
					<key>Y</key>
					<integer>150</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>TotalFinderUpdateChannel</key>
	<integer>1</integer>
	<key>TotalFinderUseFade</key>
	<true/>
	<key>TotalFinderUseSlide</key>
	<true/>
	<key>TotalFinderVisorEnabled</key>
	<false/>
	<key>TotalFinderVisorFreeForm</key>
	<false/>
	<key>TotalFinderVisorOnDockLevel</key>
	<false/>
	<key>TotalFinderWorkAreaBottom</key>
	<integer>1196</integer>
	<key>TotalFinderWorkAreaLeft</key>
	<integer>0</integer>
	<key>TotalFinderWorkAreaRight</key>
	<integer>1920</integer>
	<key>TotalFinderWorkAreaTop</key>
	<integer>22</integer>
	<key>TrashViewSettings</key>
	<dict>
		<key>WindowState</key>
		<dict>
			<key>ShowPathbar</key>
			<false/>
			<key>ShowSidebar</key>
			<true/>
			<key>ShowStatusBar</key>
			<true/>
			<key>ShowToolbar</key>
			<true/>
			<key>SidebarWidth</key>
			<integer>204</integer>
			<key>WindowBounds</key>
			<string>{{183, 134}, {1261, 801}}</string>
		</dict>
	</dict>
</dict>
</plist>
